{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Свадьба Игоря и Олеси</title>

<!-- Подключение шрифтов -->
<link href="https://googleapis.com" rel="stylesheet" />
<link href="https://googleapis.com" rel="stylesheet" />
<link href="https://googleapis.com" rel="stylesheet" />
<link href="https://googleapis.com" rel="stylesheet">
<link rel="stylesheet" href="{% static 'site/css/main.css' %}">
</head>
<body>

<!-- задний размытый фон по бокам -->
<div class="blur-bg"></div>

<!-- главное фото -->
<div class="main-photo"></div>

<!-- основной текст -->
<div class="wrapper">

  <!-- имена -->
  <div class="content-top">
    <h1 class="names">
      <span>Игорь</span>
      <img src="{% static 'site/images/сердечко.png' %}" alt="Сердечко" class="name-heart" />
      <span>Олеся</span>
    </h1>
  </div>

  <!-- текст приглашения -->
  <div class="content-bottom">

    <p class="invitation">Приглашаем разделить этот особенный<br> день вместе с нами!</p>

    <div class="date-info">Суббота | 29 Августа 2026 | 13:40</div>

    <div class="bottom-buttons-row">
      <a href="{% url 'presence' %}" class="action-btn btn-bright">Подтвердить присутствие</a>
      <a href="{% url 'details' %}" class="action-btn btn-simple">Посмотреть детали</a>
    </div>

    <!-- таймер -->
    <div class="timer" id="countdown"></div>

  </div>
</div>

<!-- подключение JS -->
<script src="{% static 'site/js/scripts.js' %}"></script>

</body>
</html>
