{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спасибо!</title>
    <!-- Подключение шрифтов -->
    <link href="https://googleapis.com" rel="stylesheet" />
    <link href="https://googleapis.com" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'site/css/thanks.css' %}?v=16">
</head>
<body>
    <!-- верхняя обёртка -->
    <div class="page-wrapper">
        <div class="message-box">
            <div class="img-wrapper">
                <img src="{% static 'site/images/спасибо1.png' %}" alt="Свадебное фото" class="thank-you-img">
            </div>

            <div class="text-group">
                <h1>Спасибо!</h1>
                <p>Ваш ответ успешно отправлен. <br> С нетерпением ждем встречи на нашем празднике!</p>
            </div>

            <a href="{% url 'weddingsite' %}" class="back-link">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>
